@font-face{
    font-family: BB;
    src: url(./fonts/TrainOne-Regular.ttf);
}



body {
background-image:url(./Photos/tunnel.jpg); 
background-repeat: no-repeat; background-size: 28cm;

}










